body {
    background-image: url(images/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: rgb(13, 78, 13);
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 0em; margin-bottom: 0em;
}

#goals {
    text-align: center;
}

#training {
    margin-top: 0em; margin-bottom: 0em;
}

#my-goals {
    margin-bottom: 0em; margin-top: 1em;
}

p {
   margin-top: 0.6em; margin-bottom: 0.6em;
}

#about {
    margin-left: 18em;
}
